[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest.git
[submodule "external/tudostats"]
	path = external/tudostats
	url = https://github.com/tudocomp/tudostats.git
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "external/datasets"]
	path = external/datasets
	url = https://github.com/tudocomp/datasets.git
[submodule "external/ips4o"]
	path = external/ips4o
	url = https://github.com/SaschaWitt/ips4o
